@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: rgb(67, 163, 230);
    --dark-blue: rgb(25, 33, 41);
    --sm: 14px;
    --md: 16px;
  }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
/* NAV */

.nav-bar {
    background-color: var(--dark-blue);
}

.nav-bar-ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    list-style-type: none;
}

.nav-bar-ul li a {
    text-decoration: none;
    color: white;
}

/* FRONT PAGE */

.front-page {
    background-image: url('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.front-page h1 {
    margin: 50px 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 900;
    position: relative;
}
.front-page img {
    height: 75px;
}

.front-page h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    line-height: 4em;
    color: white;
    text-shadow: #020819 8px -20px 9px;    
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 10%;
}

/* MAIN */
/* SECTION 1 */
.container-section1 {
    background-color: var(--dark-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
}

.container-section1 article {
    margin: 0 2%;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 40px;
    width: 250px;
}

.link-btn {
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    margin-top: 200px;
}

/* SECTION 2 */
.container-section2 > h3 {
    text-align: center;
    font-size: 1.7em;
}

.box-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2;
    justify-items: center;
}

.service-box {
    box-shadow: 2px 2px 10px 0 #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    width: 80%;
}

.service-box img {
    width: 100px;
}

/* SECTION 3 */

.container-section3 {
    background-color: var(--dark-blue);
    color: white;
    padding: 40px 0;
    margin: 0 auto;

}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-section h4 {
    font-size: 1.3;
}

.text-section p {
    text-align: center;
    width: 80%;
}

.member-container {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
}

.container-section3 img {
    width: 250px;
    height: 180px;
}

.member-container article {
    margin: 0 20px;
}